/* You can add global styles to this file, and also import other style files */
/* main.css */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  margin-top: 29px;
  padding-top: 3em;
  padding-bottom: 1.6em;
  background: #efefef;
}

#header {
  color: #fff;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 0px 10px 0px #000000;
  -moz-box-shadow: 0px 0px 10px 0px #000000;
  box-shadow: 0px 0px 10px 0px #000000;
  line-height: 3em;
  background: #fff;
}

h2 {
  margin: 25px;
  padding: 25px 0px 0px 25px;
}

form {
  margin: 25px;
  padding: 25px;
  max-width: 50%;
}


/*.icon {
  font-size: 20px;
  width: 3.85em;
  height: auto;
  padding: .75em;
  margin-right: 1.5em;
  text-decoration: none;
  list-style-type: none;
  float: right;
  text-transform: uppercase;
}*/



.logo {
  position: absolute;
  left: 0.8em;
  top: 0;
  /*line-height: 2.2em;*/
  font-size: 24px;
  /*vertical-align: baseline;*/
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    display: inline;
    float: right;
    color: #000;
    /*padding: 8px 16px;*/
    height: 100%;
}

nav ul li a {
    display: block;
    padding: 8px;
    background-color: #333;
    color: #fff;
    font-size:18px;
    transition: all .2s ease-in-out;
}

nav ul li a:hover {
    transform: scale(1.1);
    text-decoration: none;
    color:#fff;
}

.active {
    background-color: #4CAF50;
}